s3/bash-scripts/iac/cdk/node_modules
s3/encyption/vendor
s3/encyption/.bundle
s3/encyption/Gemfile.lock
appsync/node_modules
comprehend/.bundle
comprehend/vendor
comprehend/Gemfile.lock
textract/.bundle
textract/vendor
textract/Gemfile.lock